# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
env/
venv/
*.sqlite3
*.log

# PyCharm / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# MacOS
.DS_Store

# VS Code (якщо хтось буде відкривати в ньому)
.vscode/
